@using AzureBlazorCosmosWasm.Data
@using Syncfusion.Blazor.Data
@using SuperCodeData

@inject SuperCodeClient Client
 

<h1>Locations</h1>
<SfGrid TValue="Location"
        AllowSorting="true"
        AllowPaging="true"
        Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Cancel", "Update", "Search"})"
>
  <SfDataManager Adaptor="Adaptors.CustomAdaptor">
    <LocationDataAdaptor />
  </SfDataManager>
  <GridPageSettings PageSize="5"/>
  <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Dialog" />
  <GridColumns>
    <GridColumn Field="@nameof(Location.Id)" IsPrimaryKey="true" IsIdentity="true" Width="0"/>
    <GridColumn Field="@nameof(Location.Title)"/>
  </GridColumns>
</SfGrid>