@page "/cosmos"

@using AzureBlazorCosmosWasm.Data
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore 
@using SuperCodeData  

@attribute [Authorize]

@inject SuperCodeClient Client

<h1>Welcome to EF Core and Cosmos DB in a Blazor WebAssembly App!</h1>

@if (FirstTime)
{
    <button @onclick="async ()=>await GoAsync()">Let's Try It!</button>
}
else
{
    <button @onclick="Reset">Reset</button>
}
@if (!FirstTime && Users == null && string.IsNullOrWhiteSpace(ErrorMessage))
{
    <p class="alert alert-information">Loading...</p>
}
@if (ErrorMessage != null)
{
    <p class="alert alert-danger">@ErrorMessage</p>
}
@if (Users != null)
{
    <UserList Users="Users"/>
}

@code {


    public string ErrorMessage;


    public List<User> Users = null;

    public bool FirstTime = true;

    protected void Reset()
    {
        Users = null;
        FirstTime = true;
        ErrorMessage = null;
    }

    protected async Task GoAsync()
    {
        FirstTime = false;
        try
        {
            using var context = await Client.GetDbContextAsync();
            Users = await context.Users.ToListAsync();
        }
        catch (AccessTokenNotAvailableException aex)
        {
            // authenticate
            aex.Redirect();
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
    }
}